# Android и Android Studio
*.iml
.idea/
.gradle/
build/
local.properties
*.apk
*.ap_
*.aar
*.dex
*.class
*.hprof
*.jks
*.keystore
google-services.json
captures/
.externalNativeBuild/
.cxx/
output.json
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
gradlew
gradlew.bat
*.log

# Java
*.class
*.jar
*.war
*.ear

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]

# Лог-файлы и временные файлы
*.log
*.bak
*.swp
*.swo
*.swn
*.tmp
*.temp
*.DS_Store
Thumbs.db

# Редакторы и IDE
*.vscode/
*.eclipse/
*.netbeans/
*.cache

# Прочие
*.zip
*.rar
*.7z
*.gz
*.retry
*.orig
*.bak.*
*.~*~
*.#*#
*~